
/* * * * * * * * * * * */
/* Object specific CSS */
/* * * * * * * * * * * */

#object-fields .object-label {
	clear: both;
}

#object-fields .object-value a {
	border-bottom: 0px !important;
    text-decoration: underline !important;
    font-size: 17px !important;
}

#object-fields .object-label,
#object-fields .object-value {
	margin-bottom:10px;
}

body.portaltype-object p.record-extra-info {
	font-size: 16px !important;

	span.grey {
		color: #666666 !important;
	}
}

body.portaltype-object #object-fields .object-value span:not(.highlightedSearchTerm) {
	padding-bottom: 10px;
	float:left; 
	clear:both;
}

body.portaltype-object a.doc-more-info {
	text-decoration: underline !important;

	span {
		text-decoration: underline !important;
	}
}

body.portaltype-object a.doc-more-info[aria-expanded='true'] {
	span.ariaexpanded {
		display: block !important;
	}

	span.notariaexpanded {
		display: none !important;
	}
}


body.portaltype-object a.doc-more-info[aria-expanded='false'] {
	span.ariaexpanded {
		display: none !important;
	}

	span.notariaexpanded {
		display: block !important;
	}
}