
/* * * * * * * * * * * */
/* Object specific CSS */
/* * * * * * * * * * * */

#object-fields .object-label {
	clear: both;
}

#object-fields .object-value a {
	border-bottom: 0px !important;
    text-decoration: underline !important;
    font-size: 17px !important;
}

#object-fields .object-label,
#object-fields .object-value {
	margin-bottom:10px;
}

body.portaltype-object p.record-extra-info {
	font-size: 16px !important;

	span.grey {
		color: #666666 !important;
	}
}

